.logo {
	width: 300px;
	height: auto;
	margin-bottom: 1em;
	padding-left: 20px;
}

/* COLORS */

$dark-blue: #1E4477;
$light-blue: #0067AD;
$green: #88B04B;
$dark-gray: #5B6F74;
$light-gray: #879899;

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: $light-gray;
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1000px;
	background-color: rgba(0, 103, 173, 0.05);
	margin: 0 auto;
}

h1 {
	color: $dark-blue;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	margin-left: 10px;
}

@media all and (min-width: 300px) {
	h1 {
		color: $dark-blue;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 30px;
	}
}

@media all and (min-width: 500px) {
	h1 {
		color: $dark-blue;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: bold;
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		margin-left: 10px;
	}
}

@media all and (min-width: 750px) {
	h1 {
		color: $dark-blue;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		margin-left: 10px;
	}

}

header {
	margin-top: 1em;
	background-color: white;
}

ul,
li {
	list-style: none;
	margin: 0;
}

.nav li {
	margin: 0;
	padding: 0;
}


a {
  text-decoration: none;
}

.nav {
  background-color: $dark-blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.nav a {
  display: block;
  padding: 1.5em;
  color: white;
  font-weight: bold;
}

.nav a:hover,
.nav a:active {
  background-color: darken($dark-blue, 3%);
	display: block;
  padding: 1.5em;
  color: white;
}

@media all and (max-width:800px){
  .nav{
    justify-content:space-around;
		padding: 0;
  }
  .nav a:hover{
    background-color: lighten($dark-blue,10%);
  }
}
@media all and (max-width:500px){
  .nav{
    flex-flow:column wrap;
    padding:0;
    border-radius:3px;
  }
  .nav a{
    text-align:center;
    border-top:2px solid rgba(255,255,255,.2);
    border-bottom:2px solid rgba(0,0,0,.1);
  }
}
.call {
	background: $green;
	border: none;
}

@media all and (max-width: 750px) {
	.call {
		text-align: center;
		width: 100%;
	}
}

.call a:hover {
	background: $green;
	color: #ffffff;
}

.banner1, .banner2 {
	margin: 0 auto;
}

.banner1 {
	width: 100%;
	height: auto;
	min-height: 500px;
	background:
	linear-gradient(
		rgba(30, 68, 119, .45),
		rgba(30, 68, 119, .45)
		),
		url('../img/city.png') center center no-repeat;
	background-size: cover;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	max-width: 300px;
}

.responsive-image {
	width: 100%;
}

.card img {
	display: block;
}

.card {
	margin: 1em;
	background-color: white;
}

@media screen and (min-width: 500px) {
	.grid {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.card {
		width: calc(50% - 2em);
	}
}

@media screen and (min-width: 750px) {
	.card {
		width: calc(33.3333% - 2em);
	}
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content {
    padding: 2px 16px;
}

.card img {
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: auto;
}

.card h2 {
	color: $light-blue;
	font-size: 20px;
	font-weight: bold;
}

.card p {
	color: $light-gray;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: left;
}

.immigration {
	color: white;
	background-color: $light-blue;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	padding: 20px 0 20px 0;
	margin-bottom: 0;
	margin-top: 60px;
}

.immigration:hover {
	color: white;
	background-color: $dark-blue;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px;
	padding: 20px 0 20px 0;
	margin-bottom: 0;
	margin-top: 60px;
}

.banner2 {
	width: 100%;
	height: auto;
	min-height: 500px;
	background:
	linear-gradient(
		rgba(30, 68, 119, .45),
		rgba(30, 68, 119, .45)
		),
		url('../img/lawyer.png') center center no-repeat;
	background-size: cover;
}

.award {
	margin: 1em;
}

.content {
    padding: 2px 16px;
}

.award img {
	display: block;
	width: 50px;
	height: 50px;
	margin: 20px auto;
}

@media screen and (min-width: 300px) {
	.award h2 {
		color: $light-gray;
		font-size: 14px;
		font-weight: normal;
		text-align: center;
	}
}

@media screen and (min-width: 500px) {
	.awards {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.award {
		width: calc(50% - 2em);
	}

	.award h2 {
		color: $light-gray;
		font-size: 14px;
		font-weight: normal;
		text-align: center;
	}
}

@media screen and (min-width: 750px) {
	.award {
		width: calc(33.3333% - 2em);
	}

	.award h2 {
		color: $light-gray;
		font-size: 14px;
		font-weight: normal;
		text-align: center;
	}
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	max-width: 300px;
}

.responsive-image {
	min-width: 100%;
}

.card img {
	display: block;
}

.card {
	margin: 1em;
	background-color: white;
}

@media screen and (min-width: 500px) {
	.grid {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.card {
		width: calc(50% - 2em);
	}
}

@media screen and (min-width: 750px) {
	.card {
		width: calc(33.3333% - 2em);
	}
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content {
    padding: 2px 16px;
}

.card img {
	border-radius: 5px 5px 0 0;
	max-width: 100%;
	max-height: auto;
}

.card h2 {
	color: $light-blue;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.team {
	text-align: center;
	padding: 2px 16px;
	margin-top: 60px;

	img {
		width: 200px;
		height: auto;
	}

	h1 {
		text-align: center;
	}

	p {
		line-height: 25px;
		margin-bottom: 30px;
	}
}

.anniversary {
	background-color: $dark-blue;
	color: white;
	text-align: center;
	margin-top: 60px;
	padding: 20px 20px;

	 p {
		line-height: 24px;
		padding-top: 20px;
	}

	h2 {
		text-transform: uppercase;
		font-size: 30px;
		letter-spacing: 2px;

		sup {
			font-size: 20px;
		}
	}
}

.email {
	background-color: $light-blue;
	color: white;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px 20px;

	h2 {
		letter-spacing: 1px;
		font-size: 18px;
		margin-bottom: 30px;
	}
}

.optin {
	background-color: white;
  border: $green solid 2px;
	border-radius: 3px;
	color: $light-gray;
	padding: 8px 8px;
	text-align: left;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	margin-right: 10px;
}

.button {
	background-color: $green;
  border: $green solid 2px;
	border-radius: 3px;
	color: white;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
  text-transform: uppercase;
	letter-spacing: 0.5px;
}

.button:hover {
	background-color: #ffffff;
  border: $green solid 2px;
	border-radius: 3px;
	color: $green;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
  text-transform: uppercase;
	letter-spacing: 0.5px;
}

.button:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

footer {
	background-color: $dark-blue;
	padding: 30px 30px 20px 30px;
	width: 100%;
	height: auto;

	.copyright {
		text-align: center;
		font-size: 10px;
		clear: both;
		margin-top: 10px;
	}

	a {
		text-decoration: none;
		color: $light-gray;
	}

	h2 {
		color: white;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}

	p {
		font-size: 14px;
		margin-bottom: 20px;
	}
}

.locations {
	float: left;
}
.consult {
	background-color: white;
	border: $green solid 2px;
	border-radius: 3px;
	color: $green;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 30px;

}

.callnow {
	background-color: $green;
	border: $green solid 2px;
	border-radius: 3px;
	color: white;
	padding: 6px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

@media screen and (min-width: 300px) {

	.contactus {
		float: left;
		margin: 0 0 10px 10px;

		.contact {
			margin-bottom: 30px;
		}
	}

}

@media screen and (min-width: 500px) {

	.contactus {
		float: left;
		margin: 0 0 10px 10px;

		.contact {
			margin-bottom: 30px;
		}
	}

}

@media screen and (min-width: 750px) {

	.contactus {
		float: right;
		margin: 0 0 10px 10px;

		.contact {
			margin-bottom: 30px;
		}
	}

}



/* ABOUT PAGE */

.banner3 {
	width: 100%;
	height: auto;
	min-height: 500px;
	background:
	linear-gradient(
		rgba(30, 68, 119, .45),
		rgba(30, 68, 119, .45)
		),
		url('../img/about.jpg') center center no-repeat;
	background-size: cover;
}

.banner4 {
	width: 100%;
	height: auto;
	min-height: 500px;
	background:
	linear-gradient(
		rgba(30, 68, 119, .45),
		rgba(30, 68, 119, .45)
		),
		url('../img/office.jpg') center center no-repeat;
	background-size: cover;
}

.firm {
	background: $light-blue;
	margin: 0 auto 30px;
	padding: 20px 20px;

	h1 {
	color: white;
	font-weight: bold;
}
}

.banner1, .banner2 {
	margin: 0 auto;
}

.history h2 {
	color: $dark-blue;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-left: 20px;
}
.history p {
		padding: 5px 20px 5px 20px;
		line-height: 28px;
		font-size: 14px;

	}

.free {
		color: $light-blue;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.partners {
		margin-bottom: 60px;
	}

	.grid {
		.card {
		margin: 0 auto 30px;
	}

	}

	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		border-radius: 5px;
		max-width: 300px;
	}

	.responsive-image {
		width: 100%;
	}

	.card img {
		display: block;
	}

	.card {
		margin: 1em;
		background-color: white;
	}

	@media screen and (min-width: 500px) {
		.grid {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
		}
		.card {
			width: calc(50% - 2em);
		}
	}

	@media screen and (min-width: 750px) {
		.card {
			width: calc(33.3333% - 2em);
		}
	}

	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	.content {
	    padding: 2px 16px;
	}

	.card img {
		border-radius: 5px 5px 0 0;
		width: 100%;
		height: auto;
	}

	.card h2 {
		color: $light-blue;
		font-size: 20px;
		font-weight: bold;
	}

	/* SERVICES PAGE */

	.banner5 {
		width: 100%;
		height: auto;
		min-height: 500px;
		background:
		linear-gradient(
			rgba(30, 68, 119, .45),
			rgba(30, 68, 119, .45)
			),
			url('../img/city.png') center center no-repeat;
		background-size: cover;
	}

	.free {
			color: $light-blue;
			font-weight: bold;
			margin-bottom: 30px;
			padding: 5px 20px 5px 20px;
			line-height: 28px;
			font-size: 14px;
		}



	/* LAWYERS PAGE */

	.banner6 {
		width: 100%;
		height: auto;
		min-height: 500px;
		background:
		linear-gradient(
			rgba(30, 68, 119, .45),
			rgba(30, 68, 119, .45)
			),
			url('../img/lawyer.png') center center no-repeat;
		background-size: cover;
	}

	.lawyers {
		padding: 5px 20px 5px 20px;
		line-height: 28px;
		font-size: 14px;
	}

	.free {
			color: $light-blue;
			font-weight: bold;
			margin-bottom: 30px;
			padding: 5px 20px 5px 20px;
			line-height: 28px;
			font-size: 14px;
		}


	/* NEWS/BLOG PAGE */

	.blog-post {
		padding: 30px 30px;
		margin-bottom: 30px;

		h3 {
			color: $dark-blue;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
			font-family: 'Montserrat', sans-serif;
			text-align: left;
			letter-spacing: 1px;
		}

		p {
			font-size: 14px;
			font-weight: normal;
			line-height: 25px;
		}
	}

	ul,
	li {
		list-style: none;
		margin: 0;
	}

	.details-menu li {
		margin: 0;
		padding: 0;
	}


	a {
	  text-decoration: none;
	}

	.details-menu {
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: flex-start;
	}

	.details-menu a {
	  display: block;
	  padding: 1em;
	  color: $light-blue;
	  font-weight: bold;
	}

	.thumbnail {
		width: 100%;
		height: auto;
		background-size: cover;
	}

	/* CONTACT PAGE */

	.banner7 {
		width: 100%;
		height: auto;
		min-height: 500px;
		background:
		linear-gradient(
			rgba(30, 68, 119, .45),
			rgba(30, 68, 119, .45)
			),
			url('../img/city.png') center center no-repeat;
		background-size: cover;
	}

	input[type=text], select, textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select {
	width: 50%;
}

textarea {
	width: 75%;
}


label, select, textarea {

	display: inline;
	margin-bottom: 10px;

}

label, input {

	margin-bottom: 10px;
}

label {

	margin-left: 20px;
}

#comments {
	display: block;
}

#contact-us {
    border-radius: 5px;
    background-color: rgba(135, 152, 153, 0.05);
    padding: 30px;
		width: 80%;
		margin: 60px auto 60px;
}

	.contact-us {
		li {
			padding-bottom: 30px;
		}
	}

	.submit {
		background-color: $green;
	  border: $green solid 2px;
		border-radius: 3px;
		color: white;
		padding: 6px 10px;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
	  text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	.submit:hover {
		background-color: #ffffff;
	  border: $green solid 2px;
		border-radius: 3px;
		color: $green;
		padding: 6px 10px;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
	  text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	.reset {
		background-color: #ffffff;
	  border: $green solid 2px;
		border-radius: 3px;
		color: $green;
		padding: 6px 10px;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
	  text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	.reset:hover {
		background-color: $green;
	  border: $green solid 2px;
		border-radius: 3px;
		color: white;
		padding: 6px 10px;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
	  text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	.location-map {
		color: $dark-blue;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		letter-spacing: 1px;
		margin-left: 24px;
		margin-top: 60px;
	}

	.firm-content {
		font-size: 14px;
		font-weight: normal;
		line-height: 28px;
		padding: 5px 20px 5px 20px;

	}
